@charset "UTF-8";:root {
--unity-global-border-radius-32:16px;
--unity-global-space-32:2rem;
--unity-global-space-8:.5rem;
--unity-global-color-solid-white:#fff;
--unity-global-color-scale-darkgreen-500:rgb(43, 148, 53);
--unity-global-color-scale-green-500:rgb(43, 148, 53);
--unity-global-motion-duration-400:.333s;
--unity-global-motion-delay-200:.033s;
--unity-global-motion-ease-in-out-200:cubic-bezier(.65,0,.35,1);
}

.historie-section {
    --glow-color-primary:var(--unity-global-color-scale-green-500);
    --glow-color-secondary:var(--unity-global-color-scale-darkgreen-500);
    --glow-gradient-full-angular:var(--unity-global-color-gradient-full-angular-4);
    --glow-gradient-full-linear:var(--unity-global-color-gradient-full-linear-4);
    --glow-gradient-reduced-angular:var(--unity-global-color-gradient-reduced-angular-4);
    --glow-gradient-reduced-linear:var(--unity-global-color-gradient-reduced-linear-4)
}

.tab.is-inversed a {
    color:var(--unity-global-color-solid-white)
}
.tab.is-inversed li.is-active a:before {
    background:var(--glow-gradient-reduced-linear)
}
.tab-pane {
    display:none;
    padding:var(--unity-global-space-24) 0 0
}
.tab-pane.is-active {
    display:block
}
.tab .tablist-extra {
    padding:0 0 10px;
    padding:var(--unity-global-space-8) var(--unity-global-space-12);
    position:relative
}
.tab .tablist-extra a {
    color:#000;
    padding-left:24px;
    text-decoration:none;
    white-space:nowrap
}

.tablist {
    --tab-active-offset-x:var(--unity-global-space-8);
    --tab-active-width:6.25rem;
    --tab-skip-tabs:0;
    --tab-max-width:50%;
    -webkit-touch-callout:none
}
.tablist,.tablist ul {
    border-radius: 16px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    min-height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.tablist ul {
    background-color:var(--glow-color-secondary);
    list-style-type:none;
    margin:0;
    overflow:hidden;
    padding:var(--unity-global-space-8);
    position:relative;
    -webkit-transform:translateZ(0);
    transform:translateZ(0);
    margin-left: auto;
    margin-right: auto;
}
@media(max-width:47.99rem) {
    .tablist ul {
        width:100%;
        height: 36px;
    }
}
.tablist ul:after,.tablist ul:before {
    border-radius:10px;
    bottom:var(--unity-global-space-8);
    content:"";
    left:0;
    position:absolute;
    top:var(--unity-global-space-8);
}

.tablist ul:not(.loaded):after,
.tablist ul:not(.loaded):before {
    transition: none;
}

@media(max-width:47.99rem) {
    .tablist ul:after,.tablist ul:before {
        max-width:var(--tab-max-width)
    }
}
@media(prefers-reduced-motion) {
    .tablist ul:after,.tablist ul:before {
        -webkit-transition:none;
        -o-transition:none;
        transition:none
    }
}
.tablist ul:before {
    z-index:1;
    transition: transform var(--tablist-animation-position-duration) var(--tablist-animation-position-ease), 
                width var(--tablist-animation-size-duration) var(--tablist-animation-size-delay) var(--tablist-animation-size-ease);
}
.tablist ul:after {
    -webkit-transition:width var(--tablist-animation-smear-size-duration) var(--tablist-animation-smear-size-delay) var(--tablist-animation-smear-size-ease),-webkit-transform var(--tablist-animation-smear-position-duration) var(--tablist-animation-smear-position-delay) var(--tablist-animation-smear-position-ease);
    transition:width var(--tablist-animation-smear-size-duration) var(--tablist-animation-smear-size-delay) var(--tablist-animation-smear-size-ease),-webkit-transform var(--tablist-animation-smear-position-duration) var(--tablist-animation-smear-position-delay) var(--tablist-animation-smear-position-ease);
    -o-transition:transform var(--tablist-animation-smear-position-duration) var(--tablist-animation-smear-position-delay) var(--tablist-animation-smear-position-ease),width var(--tablist-animation-smear-size-duration) var(--tablist-animation-smear-size-delay) var(--tablist-animation-smear-size-ease);
    transition:transform var(--tablist-animation-smear-position-duration) var(--tablist-animation-smear-position-delay) var(--tablist-animation-smear-position-ease),width var(--tablist-animation-smear-size-duration) var(--tablist-animation-smear-size-delay) var(--tablist-animation-smear-size-ease);
    transition:transform var(--tablist-animation-smear-position-duration) var(--tablist-animation-smear-position-delay) var(--tablist-animation-smear-position-ease),width var(--tablist-animation-smear-size-duration) var(--tablist-animation-smear-size-delay) var(--tablist-animation-smear-size-ease),-webkit-transform var(--tablist-animation-smear-position-duration) var(--tablist-animation-smear-position-delay) var(--tablist-animation-smear-position-ease)
}
@media(prefers-reduced-motion) {
    .tablist ul:after {
        -webkit-transition:none;
        -o-transition:none;
        transition:none
    }
}
@media(max-width:47.99rem) {
    .tablist ul {
        max-width:100%
    }
}
.tablist li {
    -webkit-box-flex:1;
    -ms-flex:1 0 auto;
    flex:1 0 auto;
    margin:auto;
    position:relative;
    text-align:center
}
@media(max-width:47.99rem) {
    .tablist li {
        max-width:var(--tab-max-width)
    }
}
.tablist li a,.tablist li label {
    color:white;
    cursor:pointer;
    display:block;
    padding:var(--unity-global-space-8) var(--unity-global-space-12);
    position:relative;
    text-decoration:none;
    z-index:1;
    font-family: "Oswald", sans-serif;
    font-size: 1.2em;
}
.tablist li a:hover,.tablist li label:hover {
    text-decoration:none;
    color: #b7b7b7;
}
@media(min-width:48rem) {
    .tablist li a,.tablist li label {
        padding:var(--unity-global-space-8) var(--unity-global-space-32)
    }
}
.tablist li:first-of-type:before {
    -webkit-animation:tablist-glow-rotation-animation 8s linear infinite;
    animation:tablist-glow-rotation-animation 8s linear infinite;
    background:-o-radial-gradient(var(--glow-color-primary) 20%,transparent 50%);
    background:radial-gradient(var(--glow-color-primary) 20%,transparent 50%);
    content:"";
    height:16.875rem;
    left:calc(50% + var(--tab-active-offset-x));
    position:absolute;
    top:50%;
    -webkit-transition:left var(--tablist-animation-smear-position-duration) var(--tablist-animation-smear-position-delay) var(--tablist-animation-smear-position-ease);
    -o-transition:left var(--tablist-animation-smear-position-duration) var(--tablist-animation-smear-position-delay) var(--tablist-animation-smear-position-ease);
    transition:left var(--tablist-animation-smear-position-duration) var(--tablist-animation-smear-position-delay) var(--tablist-animation-smear-position-ease);
    width:22.5rem
}

.tablist li a {
    color: white;
    text-shadow: 2px 2px rgb(16, 90, 24);
    transition: color 0.3s ease;
    background-color: none;
}

.tablist li.is-active a {
    color: black;
    text-shadow: none;
    background-color: white;
    border-radius: 10px;
    outline: none; /* Removes focus outline */
}