@charset "UTF-8";:root {
--unity-global-border-radius-32:2rem;
--unity-global-space-32:2rem;
--unity-global-space-8:.5rem;
--unity-global-color-solid-white:#fff;
--unity-global-color-scale-purple-500:#8d85ff;
--unity-global-color-scale-orange-500:#ff914d;
--unity-global-motion-duration-400:.333s;
--unity-global-motion-delay-200:.033s;
--unity-global-motion-ease-in-out-200:cubic-bezier(.65,0,.35,1);
}

.tab.is-inversed a {
    color:var(--unity-global-color-solid-white)
}
.tab.is-inversed li.is-active a:before {
    background:var(--glow-gradient-reduced-linear)
}
.tab-pane {
    display:none;
    padding:var(--unity-global-space-24) 0 0
}
.tab-pane.is-active {
    display:block
}
.tab .tablist-extra {
    padding:0 0 10px;
    padding:var(--unity-global-space-8) var(--unity-global-space-12);
    position:relative
}
.tab .tablist-extra a {
    color:#000;
    padding-left:24px;
    text-decoration:none;
    white-space:nowrap
}
.tab .tablist-extra a:hover {
    color:var(--unity-component-tabs-text-color-selected-hover)
}
.tab .tablist-extra:before {
    background:var(--unity-global-scale-blue-100,#abc7ff);
    content:"";
    height:24px;
    left:10px;
    position:absolute;
    width:1px
}
@media(max-width:47.99rem) {
    .tab .tablist-extra{visibility:hidden
    }
}

@keyframes tab-segmented-glow-rotation-animation {
    0% {
        -webkit-transform:translate3d(-50%,-50%,0) rotate(0);
        transform:translate3d(-50%,-50%,0) rotate(0)
    } to {
        -webkit-transform:translate3d(-50%,-50%,0) rotate(1turn);
        transform:translate3d(-50%,-50%,0) rotate(1turn)
    }
}

.tab-segmented {
    --tab-active-offset-x:var(--unity-global-space-8);
    --tab-active-width:6.25rem;
    --tab-skip-tabs:0;
    --tab-max-width:50%;
    --tab-segmented-animation-position-duration:calc(var(--unity-global-motion-duration-400) + (var(--unity-global-motion-duration-400)*var(--tab-skip-tabs))*.35);
    --tab-segmented-animation-position-ease:var(--unity-global-motion-ease-in-out-200);
    --tab-segmented-animation-size-duration:var(--unity-global-motion-duration-400);
    --tab-segmented-animation-size-delay:var(--unity-global-motion-delay-200);
    --tab-segmented-animation-size-ease:var(--unity-global-motion-ease-in-out-200);
    --tab-segmented-animation-smear-position-duration:calc(var(--unity-global-motion-duration-400) + (var(--unity-global-motion-duration-400)*var(--tab-skip-tabs))*.35);
    --tab-segmented-animation-smear-position-ease:var(--unity-global-motion-ease-in-out-200);
    --tab-segmented-animation-smear-position-delay:var(--unity-global-motion-delay-200);
    --tab-segmented-animation-smear-size-duration:var(--unity-global-motion-duration-400);
    --tab-segmented-animation-smear-size-delay:var(--unity-global-motion-delay-200);
    --tab-segmented-animation-smear-size-ease:var(--unity-global-motion-ease-in-out-200);
    -webkit-touch-callout:none
}
.tab-segmented,.tab-segmented ul {
    border-radius:var(--unity-global-border-radius-32);
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex
}
.tab-segmented ul {
    background-color:var(--glow-color-secondary);
    list-style-type:none;
    margin:0;
    overflow:hidden;
    padding:var(--unity-global-space-8);
    position:relative;
    -webkit-transform:translateZ(0);
    transform:translateZ(0)
}
@media(max-width:47.99rem) {
    .tab-segmented ul {
        width:100%
    }
}
.tab-segmented ul:after,.tab-segmented ul:before {
    background-color:var(--unity-global-color-solid-white);
    border-radius:var(--unity-global-border-radius-32);
    bottom:var(--unity-global-space-8);
    content:"";
    left:0;
    position:absolute;
    top:var(--unity-global-space-8);
    -webkit-transform:translate3d(var(--tab-active-offset-x),0,0);
    transform:translate3d(var(--tab-active-offset-x),0,0);
    -webkit-transition:width var(--tab-segmented-animation-size-duration) var(--tab-segmented-animation-size-delay) var(--tab-segmented-animation-size-ease),-webkit-transform var(--tab-segmented-animation-position-duration) var(--tab-segmented-animation-position-ease);
    transition:width var(--tab-segmented-animation-size-duration) var(--tab-segmented-animation-size-delay) var(--tab-segmented-animation-size-ease),-webkit-transform var(--tab-segmented-animation-position-duration) var(--tab-segmented-animation-position-ease);
    -o-transition:transform var(--tab-segmented-animation-position-duration) var(--tab-segmented-animation-position-ease),width var(--tab-segmented-animation-size-duration) var(--tab-segmented-animation-size-delay) var(--tab-segmented-animation-size-ease);
    transition:transform var(--tab-segmented-animation-position-duration) var(--tab-segmented-animation-position-ease),width var(--tab-segmented-animation-size-duration) var(--tab-segmented-animation-size-delay) var(--tab-segmented-animation-size-ease);
    transition:transform var(--tab-segmented-animation-position-duration) var(--tab-segmented-animation-position-ease),width var(--tab-segmented-animation-size-duration) var(--tab-segmented-animation-size-delay) var(--tab-segmented-animation-size-ease),-webkit-transform var(--tab-segmented-animation-position-duration) var(--tab-segmented-animation-position-ease);width:var(--tab-active-width)
}
@media(max-width:47.99rem) {
    .tab-segmented ul:after,.tab-segmented ul:before {
        max-width:var(--tab-max-width)
    }
}
@media(prefers-reduced-motion) {
    .tab-segmented ul:after,.tab-segmented ul:before {
        -webkit-transition:none;
        -o-transition:none;
        transition:none
    }
}
.tab-segmented ul:before {
    z-index:1
}
.tab-segmented ul:after {
    -webkit-transition:width var(--tab-segmented-animation-smear-size-duration) var(--tab-segmented-animation-smear-size-delay) var(--tab-segmented-animation-smear-size-ease),-webkit-transform var(--tab-segmented-animation-smear-position-duration) var(--tab-segmented-animation-smear-position-delay) var(--tab-segmented-animation-smear-position-ease);
    transition:width var(--tab-segmented-animation-smear-size-duration) var(--tab-segmented-animation-smear-size-delay) var(--tab-segmented-animation-smear-size-ease),-webkit-transform var(--tab-segmented-animation-smear-position-duration) var(--tab-segmented-animation-smear-position-delay) var(--tab-segmented-animation-smear-position-ease);
    -o-transition:transform var(--tab-segmented-animation-smear-position-duration) var(--tab-segmented-animation-smear-position-delay) var(--tab-segmented-animation-smear-position-ease),width var(--tab-segmented-animation-smear-size-duration) var(--tab-segmented-animation-smear-size-delay) var(--tab-segmented-animation-smear-size-ease);
    transition:transform var(--tab-segmented-animation-smear-position-duration) var(--tab-segmented-animation-smear-position-delay) var(--tab-segmented-animation-smear-position-ease),width var(--tab-segmented-animation-smear-size-duration) var(--tab-segmented-animation-smear-size-delay) var(--tab-segmented-animation-smear-size-ease);
    transition:transform var(--tab-segmented-animation-smear-position-duration) var(--tab-segmented-animation-smear-position-delay) var(--tab-segmented-animation-smear-position-ease),width var(--tab-segmented-animation-smear-size-duration) var(--tab-segmented-animation-smear-size-delay) var(--tab-segmented-animation-smear-size-ease),-webkit-transform var(--tab-segmented-animation-smear-position-duration) var(--tab-segmented-animation-smear-position-delay) var(--tab-segmented-animation-smear-position-ease)
}
@media(prefers-reduced-motion) {
    .tab-segmented ul:after {
        -webkit-transition:none;
        -o-transition:none;
        transition:none
    }
}
@media(max-width:47.99rem) {
    .tab-segmented ul {
        max-width:100%
    }
}
.tab-segmented li {
    -webkit-box-flex:1;
    -ms-flex:1 0 auto;
    flex:1 0 auto;
    margin:auto;
    position:relative;
    text-align:center
}
@media(max-width:47.99rem) {
    .tab-segmented li {
        max-width:var(--tab-max-width)
    }
}
.tab-segmented li a,.tab-segmented li label {
    color:var(--unity-global-color-solid-black);
    cursor:pointer;
    display:block;
    padding:var(--unity-global-space-8) var(--unity-global-space-12);
    position:relative;
    text-decoration:none;
    z-index:1
}
.tab-segmented li a:hover,.tab-segmented li label:hover {
    text-decoration:none
}
@media(min-width:48rem) {
    .tab-segmented li a,.tab-segmented li label {
        padding:var(--unity-global-space-8) var(--unity-global-space-32)
    }
}
.tab-segmented li:first-of-type:before {
    -webkit-animation:tab-segmented-glow-rotation-animation 8s linear infinite;
    animation:tab-segmented-glow-rotation-animation 8s linear infinite;
    background:-o-radial-gradient(var(--glow-color-primary) 20%,transparent 50%);
    background:radial-gradient(var(--glow-color-primary) 20%,transparent 50%);
    content:"";
    height:16.875rem;
    left:calc(50% + var(--tab-active-offset-x));
    position:absolute;
    top:50%;
    -webkit-transition:left var(--tab-segmented-animation-smear-position-duration) var(--tab-segmented-animation-smear-position-delay) var(--tab-segmented-animation-smear-position-ease);
    -o-transition:left var(--tab-segmented-animation-smear-position-duration) var(--tab-segmented-animation-smear-position-delay) var(--tab-segmented-animation-smear-position-ease);
    transition:left var(--tab-segmented-animation-smear-position-duration) var(--tab-segmented-animation-smear-position-delay) var(--tab-segmented-animation-smear-position-ease);
    width:22.5rem
}

.page-theme-4 {
    --glow-color-primary:var(--unity-global-color-scale-orange-500);
    --glow-color-secondary:var(--unity-global-color-scale-purple-500);
    --glow-gradient-full-angular:var(--unity-global-color-gradient-full-angular-4);
    --glow-gradient-full-linear:var(--unity-global-color-gradient-full-linear-4);
    --glow-gradient-reduced-angular:var(--unity-global-color-gradient-reduced-angular-4);
    --glow-gradient-reduced-linear:var(--unity-global-color-gradient-reduced-linear-4)
}