/* dashboard.css */
.permissions-table, .news-table {
    width: 100%;
    border-collapse: collapse;
}

.permissions-table th, .permissions-table td, .news-table th, .news-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

.permissions-table th, .news-table th {
    background-color: rgb(43, 148, 53);
    color: #fff;
    text-shadow: 2px 2px rgb(16, 90, 24);
}

@media (max-width: 600px) {
    .news-table thead {
        display: none;
    }

    .news-table, .news-table tbody, .news-table tr, .news-table td {
        display: block;
        width: 100%;
    }

    .news-table tr {
        margin-bottom: 15px;
    }

    .news-table td {
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    .news-table td::before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        width: calc(50% - 20px);
        padding-right: 10px;
        text-align: left;
        white-space: nowrap;
    }

    .news-table input[type="checkbox"] {
        margin-left: 80%;
    }
}

@media (max-width: 760px) {
    .permissions-table thead {
        display: none;
    }

    .permissions-table, .permissions-table tbody, .permissions-table tr, .permissions-table td {
        display: block;
        width: 100%;
    }

    .permissions-table tr {
        margin-bottom: 15px;
    }

    .permissions-table td {
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    .permissions-table td::before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        width: calc(50% - 20px);
        padding-right: 10px;
        text-align: left;
        white-space: nowrap;
    }

    .permissions-table input[type="checkbox"] {
        margin-left: 80%;
    }
}

.block-overview-permissions {
    margin-top: 30px;
}