body {
    background: repeating-linear-gradient(
    45deg,
    rgb(12, 66, 17),
    rgb(12, 66, 17) 210px,
    rgb(12, 66, 17) 210px,
    rgb(12, 66, 17) 420px
    );
}

.content {
    margin-top: 35px;
    margin-bottom: 70px;
    width: 100%;
    padding-left: 12.5%;
    padding-right: 12.5%;
}

.background-hagedis {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    filter: invert(20%) sepia(10%) saturate(6753%) hue-rotate(87deg) brightness(90%) contrast(80%);
    width: auto;
    height: 476px;
    margin-top: -199px;
    margin-left: 90px;
    position: relative;
    transform: rotate(225deg) translateX(50%);
}

.container-hagedis {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(12, 66, 17); /* Background color */
    z-index: -1;
}

.container-hagedis::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../svg/hagedis.svg);
    background-repeat: repeat;
    background-size: 500px 650px;
    transform: scale(1.2) rotate(190deg);
    filter: invert(20%) sepia(10%) saturate(6753%) hue-rotate(87deg) brightness(90%) contrast(80%);
    z-index: -1;
}


/* Container for the sections */
.homepage-sections {
    display: flex;
    flex-direction: column;
}

.homepage-sections > * {
    position: relative;
    left: 50%;
    transform: translateX(-50%); /* Centreert het element horizontaal */
}

/* Top sections containing agenda and prinsen */
.top-sections {
    display: flex;
    flex-direction: row;
    gap: 20px; /* Adjust gap between agenda and prinsen sections */
    max-width: 1060px;
}

/* Agenda section */
.agenda-section {
    flex: 0 0 400px; /* Agenda takes fixed width */
}

/* Prinsen section */
.prinsen-section {
    background-color: #eeeded;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    min-width: 300px;
}

@media (min-width: 1179px) and (max-width: 1330px) {
    .prinsen-section {
        flex: 0 0 550px; /* Fixed width for prinsen section */
    }

    .agenda-section {
        flex: 1; /* Agenda adjusts to take the remaining space */
        width: 200px; /* Prevent agenda from shrinking too much */
    }
}

/* Media query for screen widths between 992px and 1330px */
@media (min-width: 992px) and (max-width: 1179px) {
    .prinsen-section {
        flex: 0 0 435px; /* Fixed width for prinsen section */
        height: 348px;
    }

    .agenda-section {
        flex: 1; /* Agenda adjusts to take the remaining space */
        width: 200px; /* Prevent agenda from shrinking too much */
    }
}

/* News section */
.news-section {
    margin-top: 30px;
    max-width: 1200px;
}

@media (max-width: 992px) {
    .content {
        margin-top: 30px;
        margin-bottom: 30px;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .top-sections {
        flex-direction: column;
    }

    .agenda-section, .prinsen-section {
        flex: 1 1 auto;
        width: 100%; /* Ensures full width on mobile */
    }

    .news-section {
        margin-top: 20px;
    }
}